@import "_normalize";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext");
$background: #3767AD; 

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background: $background;
  font-family: Roboto;
  font-weight: 500;
  min-height:  100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.button-add,{
  width: 216px;
  height: 47px;
  font-size: 18px;
  border: none;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 48px 0 26px;
}

.button-remove{
  background: none;
  border: none;
  color: #FFFFFF;
  width: 216px;
  height: 47px;
  font-size: 14px;
}
.history-button {
  width: 216px;
  height: 47px;
  font-size: 18px;
  border: #FFFFFF;
  border-style: solid;
  border-width: 3px;
  color: #FFFFFF;
  border-radius: 4px;
  background: none;
}

.counter-water {
  background: url(../assets/img/svg/water-glass.svg) center center;
  width: 280px;
  height: 280px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 112px;

  &__value {
    display: block;
      padding-top: 64px;
    }
}

.counter-cola{
  background: url(../assets/img/svg/cola-glass.svg) center center;
  width: 280px;
  height: 280px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 112px;

  &__value {
    display: block;
      padding-top: 64px;
    }
}
.heading {
  font-size: 55px;
  margin: 0 0 64px;
  padding: 0;
  display: flex;
  justify-content: center;
  @media (max-width:768px) {
    margin: 0;
  }
}
.history {
  background: #FFFFFF;
  font-size: 16px;
  width: 100vw;
  height: 30vh;
  position: fixed;
  bottom: -30vh;
  transition: bottom 2s ease-in-out;
  &__visible {
    bottom: 0vh;
  }
  
  &__button-close{ 
    background: url(../assets/img/svg/close-cross.svg) center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    margin: 10px;
    border: none;
  }

    &__table{
      color: black;
      table-layout: fixed;
      border-collapse: collapse;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__table tbody {
      display: block;
      width: 50%;
      overflow: auto;
      @media (max-width:768px) {
        width: 90%;
      }
    }

    &__table thead tr {
      display: block;
      @media (max-width:768px) {
        width: 100%;
      }
    }

    &__table thead {
      width: 50%;
      background: #fff;
      color: black;
      @media (max-width:768px) {
        width: 90%;
      }
    }
    &__table th:first-child,
    &__table td:first-child {
      width: 80%;
      text-align: left;
      padding: 12px;
  }
  &__table td:not(:first-child),
  &__table th:not(:first-child) {
    min-width: 125px;
    text-align: center;
    @media (max-width:768px) {
      min-width: 110px
    }
  }
}
.close {
  display: flex;
  justify-content: flex-end;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.glasses {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 8rem 0 8rem 0 ;
   @media (max-width:768px) {
    flex-direction: column;
    padding: 3rem 0 3rem 0;
  }
  
  &__water, &__cola {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__water {
    margin-right: 8rem;
    @media (max-width:768px) {
      margin: 0;
      padding-bottom: 5rem;
    }
  }
}